<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.YoujiDao" >
  <resultMap id="BaseResultMap" type="com.entity.Youji" >
    <id column="id" property="id"   />
 <result column="title" property="title" />
 <result column="username" property="username" />
 <result column="shijian" property="shijian" />
 <result column="neirong" property="neirong" />
 <result column="pic" property="pic" />
 <result column="dianji" property="dianji" />
  </resultMap>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from youji     where id = #{id}
   </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
     delete from youji where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.entity.Youji" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
     </selectKey>
    insert into youji (title,username,shijian,neirong,pic,dianji)    values
     (#{title},#{username},#{shijian},#{neirong},#{pic},#{dianji})
  </insert>
  <update id="updateById" parameterType="com.entity.Youji" >
    update youji  set       title = #{title},      username = #{username},      shijian = #{shijian},      neirong = #{neirong},      pic = #{pic},      dianji = #{dianji}     where id = #{id}
  </update>
  <select id="getList"   resultMap="BaseResultMap">
      select * from  youji   order by id desc limit #{begin}, ${size}
  </select>
  <select id="getTotal" resultType="int">
    select count(*) from       youji
  </select>
  <select id="searlist"  parameterType="com.entity.Youji"  resultMap="BaseResultMap">
      select * from  youji   where 1=1 ${Where} order by id desc
  </select>
</mapper>

